body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #999;
	background: url(../images/background.jpg) repeat;
	text-align: center;
	margin: 0;
}

#bigContainer {
	width: 1200px;
	margin: 0 auto;
	text-align: left;
}

a {
	color: #9c944e;
	text-decoration: none;
}

p {
	color: #FFF;
}

a:hover {
	text-decoration: underline;
}


#menu {
	float: left;
	margin-left: 240px;
	margin-top: 230px;
}

#menu ul {
	list-style: none;
	margin:0 auto!important;
	padding: 0px 0px 0px 0px;
	text-align: center;
	float: left;
	clear: left;

}

#menu li {
	display: block;
	color: #FFF;
	margin-left: 10px;
	text-align: center;
	float: left;
}

#menu a {
	color: #9c944e;
	font-size: 20px;
	display: block;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial;
	text-shadow: #000 0px 1px 1px;
}

#menu a:hover {
	color: #81782e;
	font-size: 22px;
	color:white;
}
	
#header {
	float: left;
	width: 1200px;
	height: 275px;
	background: url(../images/logo2.png) no-repeat center;
}



#post_new {
	float: left;
	width: 850px;
	padding: 5px;
}

#post_newX {
	float: left;
	width: 1200px;
	padding: 5px;
}

#post_new h3, #post_menu h3, #post_newX h3 {
	font-size: 24px;
	text-transform: uppercase;
	color: #676340;
	font-weight: normal;
}

#post_new p, #post_menu p, #post_newX p, #post_new li, #post_newX li {
	color: #999;
	line-height: 20px;
	text-align: justify;
	font-size: 16px;
	font-family: Arial;
	margin-left: 10px;
  	margin-right: 50px;
}

#post_new img, #post_newX img {
	border: 3px solid #676340;
	padding: 2px;
	margin-right: 25px;
    border-radius: 10px;
}

#post_menu {
	border: 1px solid #676340;
	width: 250px;
	float: right;
	padding: 5px;
	margin-right: 20px;
}

#post_menu a {
	padding-left: 20px;
	color: #999;
	background: url(../images/zacheta.png) no-repeat left;
	margin-left: 10px;
	line-height: 26px;
}

#post_menu a:hover {
	margin-left: 15px;
	text-decoration: none;
	color: #5a542f;
	font-weight: bold;
}

#container {
	border: 10px solid #676340;
	
	float: left;
	width: 1200px;
	padding: 10px;
	background-color: #373422;
	

	
}

h2 {
	font-size: 22px;
	font-weight:normal;
	color: #fff;
}

#footer {
	width: 1200px;
	float: left;
	margin-left: 1px;
	padding-top: 5px;
}

#footer p {
	font-size: 12px;
	color: #8d8757;
}

#footer a {
	color: #afa659;
}

codex {
    display: block;
    padding: 9.5px;
    font-family: Courier; 
    font-size: 15px;
    font-weight: bold;
    line-height: 1.42857143;
    color: green;
    word-break: break-all;
    word-wrap: break-word;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
  	margin-right: 300px;
  	margin-top: 20px;
  	margin-bottom: 20px; 
    }

code {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
  	margin-right: 300px;
  	margin-top: 20px;
  	margin-bottom: 20px; 
    }

codeComment {
	display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: white;
    word-wrap: break-word;
	word-break: keep-all;
    background-color: #777;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
  	margin-right: 300px;
  	margin-top: 20px;
  	margin-bottom: 20px;
    }
table {
		width: 100%;
		border-collapse: collapse;
		border: 2px solid black;
	}
	th, td {
		border: 2px solid black;
		padding: 8px;
		text-align: center;
		color: white;
	}
	th {
		background-color: silver;
		color: red;
	}
